<nav class="navbar">


    <div class="xcontainer">
        <ul class="nav-links">
            <li><a href="/dashboard"><img src="/images/home.webp" width="20" alt=""></a></li>
          
            <a href="/user/profile" style="margin:0;padding-top:8;padding-left:12;padding-right:12">
                <img src="<%= user.profilePicture %>"  alt="" style="margin:0;padding:0" onerror="this.onerror=null; this.src='/images/profile.webp';" class="profile-pic">
            </a>
          
            <% if (user.isAdmin) { %>
                <li><a href="/admin/create-event" class="create-event-btn">Create Event</a></li>
            <% } %>

            <li><a href="/eventreq">Request Event</a></li>

            <% if (user && user.email === 'sumukharaoh05@gmail.com') { %>
                <li>
                <a href="/auth/admin/create-club-admin" class="create-event-btn">
                  Manage Clubs
                </a>
            </li>
            <% } %>

            <!-- Add 'logout' class to move it to the right -->
            <li class="logout"><a href="/auth/logout">
                <img src="/images/logout.png"  alt="" style="margin:0;padding:0" class="profile-pic">
            </a></li>
        </ul>
    </div>
</nav>
