<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Attendance QR Code</title>
    <link rel="stylesheet" href="/css/attendance.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/_default.css">
</head>
<body>
    <%- include('_navbar') %>

    <div class="qr-container">
        <img src="<%= user.profilePicture %>" alt="Profile Picture" class="profile-pic">
        <h2>Scan this QR code to mark attendance</h2>
        <img src="<%= qrCode %>" width=300 alt="User QR Code">
    </div>
</body>
</html>
