<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="/css/_default.css">

</head>
<body>
    <div class="main">
        <div>
            <nav class="navbar">
                <div class="contentLOGO">
                    <h2>EVENT_HUB</h2>
                    <h2>EVENT_HUB</h2>
                </div>
                <div class="nav-buttons">
                    <div class="nav-buttons">
                        <a href="/auth/login" class="btn login-button">Login / Signup <img src="images/google.png" class="google-image" alt="" srcset=""></a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="main_info">
            <div class="info">
                <div class="pic">
                    <img src="/images/img1.jpg" alt="event image" class="event_img">
                </div>
                <div class="content">
                    <h1 class="head_name"> THE FIRST EVENT </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est praesentium vero sequi adipisci eaque facilis asperiores maiores incidunt laborum voluptas, quaerat omnis distinctio impedit modi repellendus odit qui quam laudantium.</p>
                </div>
            </div>
            <div class="info">
                <div class="content">
                    <h1 class="head_name"> THE Second EVENT </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est praesentium vero sequi adipisci eaque facilis asperiores maiores incidunt laborum voluptas, quaerat omnis distinctio impedit modi repellendus odit qui quam laudantium.</p>
                </div>
                <div class="pic">
                    <img src="/images/img2.jpeg" alt="event image" class="event_img">
                </div>
            </div>
            <div class="info">
                <div class="pic">
                    <img src="/images/img3.jpg" alt="event image" class="event_img">
                </div>
                <div class="content">
                    <h1 class="head_name"> THE THIRD EVENT </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est praesentium vero sequi adipisci eaque facilis asperiores maiores incidunt laborum voluptas, quaerat omnis distinctio impedit modi repellendus odit qui quam laudantium.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>