  

.navbar {
    background-color: #340131; /* Dark background for the navbar */
    padding: 10px 20px; /* Padding for the navbar */
}

.xcontainer {
    display: flex; /* Flexbox for layout */
    justify-content: space-between; /* Space between items */
    align-items: center; /* Center items vertically */
}

.nav-links {
    list-style: none; /* Remove bullet points */
    display: flex; /* Horizontal layout for links */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.nav-links li {
    margin-right: 0px; /* Spacing between items */
    display: flex; /* Use flex to center align items */
    align-items: center; /* Center align items vertically */
}

.nav-links a {
    margin-right: 20px;
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
    padding: 8px 8px; /* Padding for links */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition for hover */
}

.nav-links a:hover {
    background-color: #461c3a; /* Darker background on hover */
}

.profile-pic {
    width: 30px; /* Width of profile picture */
    height: 30px; /* Height of profile picture */
    border-radius: 50%; /* Circle shape */
    margin-right: 8px; /* Space between the image and the link */
    object-fit: cover; /* Ensure the image covers the box */
}


/* Logout icon positioned absolutely to the rightmost part of the navbar */
.nav-links li.logout {
    position: absolute;
    right: 20px; /* Position it 20px from the right edge of the navbar */
  }




/* Responsive behavior */
@media (max-width: 768px) {
    .nav-links a {
        size:18;
    }
}

a.create-event-btn{
    margin-left:20px;
}