<!-- /views/home.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Selection</title>
</head>
<body>
    <h1>Welcome to Event Management System</h1>
    <a href="/auth/college">College Register/Login</a>
    <a href="/auth/event_manager">Event Manager Register/Login</a>
    <a href="/auth/student">Student Register/Login</a>
</body>
</html>
